
    <meta charset="UTF-8">
    <title>优赚网-首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__HOME__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="__HOME__/css/style.css" rel="stylesheet" type="text/css">
    <link href="__HOME__/css/common.css" rel="stylesheet" type="text/css">
    <link href="__HOME__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__HOME__/css/common-login.css" rel="stylesheet" type="text/css">
    <link href="__HOME__/css/qq.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://www.hot80.com/demo/css/wxs.page.css">

    <link href="__HOME__/css/datepicker-custom.css" type="text/css" rel="stylesheet">
    <link href="__HOME__/css/colorpicker.css" type="text/css" rel="stylesheet">

    <script src="__HOME__/js/jquery-3.1.1.min.js"></script>
    <script src="__HOME__/js/bootstrap.min.js"></script>
    <script src="__HOME__/js/script.js"></script>

    <script src="__HOME__/js/bootstrap-datepicker.js"></script>
    <script src="__HOME__/js/pickers-init.js"></script>


