     <nav class="col-sm-3" id="myScrollspy">
       <div class="container-fluid">
            <ul class="nav nav-stacked nav-pills">
               <li class="user-info">
                <div class="photo">                  
                  <form action="{:U('User/User_portrait')}" id="form" ENCTYPE="multipart/form-data" method="post">
                  <center><a><img src="{:hed()}" onclick="F_Open_dialog()" ></a></center>
                    <input type="file" name="f" style="display:none" id="g" onchange="F_sub()">
                  </form>
                </div>
                <div class="info">
                  <center><h5><span>{$_SESSION['user_info']['name']}</span>，欢迎你！</h5>
                    <p>{:substr_replace($_SESSION['user_info']['mobile'],'****',3,4)}</p>
                    <h5>余额：<span>¥{$_SESSION['user_info']['id']|user_pr}</span></h5></center>
                </div>               
               </li>
               <li <if condition="$str eq '/personal'"> class="active"  </if> ><a href="{:U('User/personal')}"><i class="fa fa-user"></i>个人资料</a></li>
               <li <if condition="$str eq '/project'"> class="active"  </if> ><a href="{:U('User/project')}"><i class="fa fa-tasks"></i>我的项目</a></li>
               <li <if condition="$str eq '/free'"> class="active"  </if> ><a href="{:U('User/free')}"><i class="fa fa-home"></i>我的自由经理人</a></li>
               <li <if condition="$str eq '/UserWallet'"> class="active"  </if> ><a href="{:U('User/UserWallet')}"><i class="fa fa-jpy"></i>我的钱包</a></li>
               <li <if condition="$str eq '/information'"> class="active"  </if> ><a href="{:U('User/information')}"><i class="fa fa-bell"></i>我的消息</a></li>
             </ul>
       </div>
     </nav>
<script type="text/javascript">
    function F_Open_dialog() 
    { 
      document.getElementById("g").click();       
    } 
    function F_sub(){
         var v=document.getElementById("g").value;
       if(v=="")return;
       else document.getElementById("form").submit(); 
    }
 </script>