<div class="clear"></div>
<div class="footer">
  <div class="fooder_F">
    <div class="fooder_F1"><img src="__ROOT__/Uploads/{$dilogo}"></div>
    <div class="fooder_F2">
      <div class="fooder_F2T"><p>版权信息</p></div>
      <div class="fooder_F2B">
<!--         <p>联系电话： 185******40</br>
        邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：7909****@126.com</br>
        公司地址：哈尔滨博能汽车哈尔滨博能汽车哈尔滨博能汽车哈尔滨博能汽车哈尔滨博能汽车哈尔滨博能汽车哈</br>
        版权所有：哈尔滨博能二手车有限公司</br>
        备&nbsp;案&nbsp;号：京ICP备********号 ICP证*****号</br>
        技术支持：哈尔滨鼎龙科技有限公司</p> -->
        {$jiben['content']}
      </div>
    </div>
    <div class="fooder_F3">
      <div class="fooder_F3T"><p>官方微信</p></div>
      <div class="fooder_F3B"><img src="__ROOT__/Uploads/{$erweima}"></div>
    </div>
  </div>
</div>