<!DOCTYPE html>
<html>
<head lang="en">
<include file="Public/head" />
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div class="wrap">
<include file="Public/header" />
</div>   
 
<!--content 开始-->
<div class="xq-content">

  <div class="row">
  
     <nav class="col-sm-3" id="myScrollspy">
       <div class="container-fluid">
            <ul class="nav nav-pills nav-stacked"  id="dong">
               <li class="ptjs-center-img2"><img src="__HOME__/images/logo.png"></li>
               <li class="active"><a href="jingcaishipin.html">精彩视频</a></li>
             </ul>
       </div>
     </nav>
     <div class="col-sm-9 col-md-9">
       <h5>您当前所在位置：精彩视频><span>视频详情</span></h5>
       <div class="xq-img">
       <if condition="$find['img_chain']">
        {$info.img_chain}

        <else/>
        <video src="__VIDEO__/{$find.video_name}" width="100%" height="100%"  controls="controls">
          
        </video>
        </if> 
       </div>
                    
     </div>
                     
  </div>
  
</div>
<!--content 结束-->   


<script type="text/javascript">
var setFixed = {
	init:function(){
		setFixed.set();
		$(window).bind('scroll',function(){
			setFixed.set();
		});		
	},
	set:function(){
		var top = $(window).scrollTop();
		if(top>=50)
			$('.header').addClass('fixed');		
		else
			$('.header').removeClass('fixed');		
	}
}
$(function(){
	setFixed.init();
})

$(function(){
	$("#yzw-banner").carousel({
		interval:3000	
	});
})

$(function() {
    $('#carousel1 ul').carouFredSel({
		scroll: 1000
	});
});

$(function() {
    $('#carousel2 ul').carouFredSel({
		scroll: 2000
	});
});
var default_view = 0; <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->

</script>

<div class="footer">
<include file='Public/footer' />
   </div>

<!--这是客服-->
<include file="Public/right" />
</body>
</html>