<!DOCTYPE html>
<html>
<head lang="en">
<include file="Public/head" />
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div class="wrap">
<include file="Public/header" />
</div>   
 
  
    <div class="center">
        <div class="zyjlr-center-box" >

            <div  class="center-body">

            <div class="container">
                <div class="row">
                    <nav class="col-sm-3" id="myScrollspy">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <ul class="nav nav-pills nav-stacked"  id="dong">
                                    <li class="ptjs-center-img2"><img src="__UPLOADS__/<?= C('STORE_LOGO')?>"></li>
                                    <li class="active"><a href="#ren1">自由经理人</a></li>
                                    <li><a href="#ren2">项目发布流程</a></li>
                                    <li><a href="#ren3">佣金申请流程</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="col-sm-9">

                        <div id="ren1">
                          <center class="zyjlrr-center-img3">
                            <img src="__HOME__/images/titile.png">
                            <h3 class="zyjlrr-center-font1">自由经理人</h3>
                            <h4 class="zyjlrr-center-font2">product manager</h4>
                          </center>
                          <div class="ziyoujingliren-ptjs-img">
                            <div class="ziyoujingliren-ptjs-black">
                              <h3 class="ziyoujingliren-center-font4">{$zy.content_title}</h3>
                              {$zy.content}
                            </div>
                          </div>
                        </div>


                      <div id="ren2">
                        <center class="zyjlrr-center-img3">
                          <img src="__HOME__/images/titile.png">
                          <h3 class="zyjlrr-center-font1">项目发布流程</h3>
                          <h4 class="zyjlrr-center-font2">contact process</h4>
                        </center>
                        <div class="col-xs-6 col-sm-6 col-md-6 zyjlr-left">
                          <img src="__UPLOADS__/{$lc.img_url}" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 zyjlr-right">
                          {$lc.content}
                        </div>                      
                      </div>


                        <div id="ren3">
                            <center class="zyjlrr-center-img3">
                                <img src="__HOME__/images/titile.png">
                                <h3 class="zyjlrr-center-font1">佣金申请流程</h3>
                                <h4 class="zyjlrr-center-font2">commision process</h4>
                            </center>
                            <div class="yun">
                                <p class="yun-1"><img src="__UPLOADS__/{$sq.img_url}"></p>
                            </div>
                        </div>

                    </div>

                    </div>
                </div>
            </div>

            </div>





        </div>
    </div>



<script type="text/javascript">
var setFixed = {
	init:function(){
		setFixed.set();
		$(window).bind('scroll',function(){
			setFixed.set();
		});		
	},
	set:function(){
		var top = $(window).scrollTop();
		if(top>=50)
			$('.header').addClass('fixed');		
		else
			$('.header').removeClass('fixed');		
	}
}
$(function(){
	setFixed.init();
})


var default_view = 0; <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->

</script>

<div class="footer">
<include file='Public/footer' />
   </div>

<!--这是客服-->
<include file="Public/right" />
</body>
</html>