/*
* @Author: anchen
* @Date:   2017-06-05 17:22:22
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-06 11:14:13
*/
.tabs-vertical .tab-content-active .honor {
    width: 100%;
    display: block;
    background-image: url("../images/002.png");
    background-repeat:no-repeat;
    background-size: 40% 90%;
    background-position:right;
    margin-top: 20px;
    background-color: #f9f9f9;
}
.tabs-vertical .tab-content-active .honor h5 {
    font-size: 16px;
    text-align: left;
    text-indent: 2em;
}