/*
* @Author: anchen
* @Date:   2017-06-05 11:43:08
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-08 14:26:32
*/
.tabs-vertical .performance  {
    width: 100%;
}
.tabs-vertical .performance  li {
    list-style: none;
    float: left;
    width:33.33%;
    border:none;
}
.tabs-vertical .performance  li a{
    display:block;
    width:100%;
    height:100%;
    padding: 0;
}
.tabs-vertical .performance  li  img {
    padding: 10px;
    width:92%;
}
.tabs-vertical .performance li span{
    text-align: center;
    display:block;
    font-size: 16px;
}
.fydiv{
    width: 320px;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
.fenye{
    text-align: center;
    height: 30px;
    margin: 0 auto;
    list-style: none;
    margin-left: 100px;
    width:100%;
    position: absolute;
    bottom:0;
}
.fenye li{
    float: left;
    border:1px solid #6CBFB7;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
}
.fenye li:hover{
    background-color: #f1f1f1;
}
.fenye li a{
    text-decoration: none;
    color:#6CBFB7;
    display: block;
}
.prev{
    width: 66px;
}
.next{
    width: 66px;
}
.numb{
    width: 26px;
}
.choose{
    border:1px solid #357973!important;
}
.choose a{
    color: #357973!important;
}
.tabs-vertical .tabs-content-placeholder .fenye p{
    width:20%;
    display:inline-block;
    height:26px;
    line-height: 26px;
    margin-top: 0;
}
.tabs-vertical .tabs-content-placeholder .fenye p span {
    color:red;
}
.tabs-vertical ul{
    border:none;
}
