/*
* @Author: anchen
* @Date:   2017-06-05 13:57:09
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-05 14:20:39
*/
.tabs-vertical .performance  li {
    float: none;
    width: 100%;
    border-bottom: 1px dashed #999999;
}
.tabs-vertical .performance  li h5 {
    color:#000;
    font-size: 16px;
}
.tabs-vertical .performance  li p {
    color:#999999;
    font-size: 14px;
}