    <div class="footer">
        <div class="footer-top">
            <div class="weixin">
                <img src="__ROOT__/Uploads/{$erweima}" alt=""/>
            </div>
            <div class="message">
                <h1 >联系电话:13349318757</h1>
                <h1 >邮箱:83756398@qq.com</h1>
                <h1 >版权所有：哈尔滨博能二手车有限公司</h1>
                <h1 >备案号:黑ICP备17000228号</h1>
            </div>
        </div>
        <div class="address">
            <h1>公司地址：哈尔滨市道里区城乡路237号</h1>
        </div>

    </div> 