<!DOCTYPE html>
<html lang="en">
<head>
	<include file="Include/head" />

</head>

<body>
	<!-- start: Header -->
		<div class="navbar" role="navigation">
	
		<div class="container-fluid">		
			
			
			

	<include file="Include/header" />

	<!-- end: Header -->
	
	<div class="container-fluid content">

		<div class="row">

			<!-- start: Main Menu -->
			<include file="Include/left" />

			<!-- end: Main Menu -->

			<!-- start: Content -->

			<div class="main sidebar-minified">
				<div class="row">		
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2><i class="fa fa-table red"></i><span class="break"></span><strong>项目管理</strong></h2>

<!-- 							<div class="panel-actions">  //刷新 收回 关闭按钮
								<a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div> -->

							</div>
						<div class="panel-body">
						<form action="{:U('project/projectList')}" method='post'>
							<input  type='text' placeholder="请输入项目名称" name="pro" />
						<select name='typ' style='width:150px;height:27px;'>
								<option value="0">--查看所有--</option>
							<volist name="tp" id='t' >
								<option value="{$t['type_id']}">{$t['type_name']}</option>
							</volist>
						</select>	
							<button>搜索</button>
						</form>
							<table  class="table table-striped table-bordered bootstrap-datatable datatable">
								<thead>
									<tr>
										<th>编号</th>
										<th>项目名称</th>
										<th>项目分类</th>
										<th>项目状态</th>
										<th>预计投资额</th>
										<th>发布时间</th>
										<th>操作</th>
									</tr>
								</thead>   
								<tbody>		
									<volist name="sel" id="v">
										<tr>
											<td>{$v['project_id']}</td>
											<td>{$v['project_name']}</td>
											<td>{$tp[$v['type_id']]['type_name']}</td>
											<td>{$v['project_state']==0?'未选择状态类型':pro_st($v['project_state'],$v['project_stime'])}</td>
											<td>{$v['project_estimate']}</td>
											<td>{:date('Y-d-m',$v['project_time'])}</td>
											<td>
												<a href="{:U('Project/project_detail?id='.$v['project_id'])}">详细信息</a> &nbsp;
												|&nbsp;&nbsp;
												<a href="{:U('Project/complete_customized?id='.$v['project_id'])}">定制客服</a> &nbsp;
											</td>
										</tr>
									</volist>
								</tbody>
							</table>  
							<div class="w-page w-left w-m-3 ">
					            {$page}
					        </div>  
						</div>
					</div>
				</div><!--/col-->

			</div><!--/row-->

		</div>
		<!-- end: Content -->
		<br><br><br>		

		
		

		
	</div><!--/container-->

	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	

<include file="Include/footjs" />

	</body>
	</html>